@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* <----Outra Fonte */
.footer{
    margin-top: auto; /*tenho que ver esse margem*/
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    padding: 50px 0;
    width: 100vh; /*Largura do Footer Ajustar (a instenção é vw)*/
}

ul{
    list-style-type: none;
}

ul a{
    text-decoration: none;
}

.icones{
    align-items: center;
    justify-content: center;
}
.midias_socias ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    align-items: center;
}

/*Tentei por Responsividade*/

@media only screen and (max-width: 800px) {
    .icones, .links_1{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width:600px) {
    .icones, .links_1{
        width: 100%;
    }
}